# Created by .ignore support plugin (hsz.mobi)
*.[oa]
*.sw[ijklmnop]
*.orig
*~
*.pyc
*.bin
*.config
.DS_Store
._*
.project
.buildpath
.settings
.reviewboardrc
.idea
.livereloadport
*.iml
nohup.out
config.php
conf.py
tags
config
config/
node_modules/
bower_components/
logs/
accounting/
/stat
.sass-cache
*.css.map
#*.gitignore
/nbproject
Doxyfile
GPATH
GRTAGS
GTAGS
grunt_build/
npm-debug.log
atlassian-ide-plugin.xml
!/classes/Config.php
vendor/
!/static/vendor/
*/target
target
logPathPrefix_IS_UNDEFINEDinfo.log
.classpath
.gitkeep
logs